<!DOCTYPE html>
<html>
<head>
<body style="background-color:powderblue;">

</head>
<body>

		<table>
			<tr>
			<td>English		</td> 
			<a href="{{ url_for('classmates') }}">Click to see classmates?</a>
			<td> {{names}}  </td>
			<td> {{realemails}}</td>
			<td>Assignment <textarea rows="4" cols="50" name= "hw" type= "text" >  </textarea></td>
			</tr> <br>
			<tr>
			<td>History		</td> 
			<td>Classmates</td>
			<td>Assignment <textarea rows="4" cols="50" name= "hw" type= "text" >  </textarea></td>
			</tr> <br>
			<tr>
			<td>Math		</td> 
			<td>Classmates</td>
			<td>Assignment <textarea rows="4" cols="50" name= "hw" type= "text" >  </textarea></td>
			</tr> <br>
			<tr>
			<td>Science		</td> 
			<td>Classmates</td>
			<td>Assignment <textarea rows="4" cols="50" name= "hw" type= "text" >  </textarea></td>
			</tr> <br>
			<tr> 
			<td> Languadge		 </td>
			<td>Classmates</td>
			<td>Assignment <textarea rows="4" cols="50" name= "hw" type= "text" >  </textarea></td>
			</tr>
		</table>

</body>
</html>